.CommentForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.CommentForm-title {
    font-size: 12px;
    margin: 0;
}

.CommentForm-textarea {
    min-height: 76px;
    resize: none;
    margin-top: 10px;
}

.CommentForm-submit {
    display: inline-block;
    align-self: flex-start;
    margin: 10px 10px 0 0;
}