.CommentsForm {
  padding-left: 30px;
}
.CommentsForm.CommentsForm_root {
  padding: 0 40px 30px;
}

.CommentsForm-title {
  margin: 30px 0 10px;
  font-size: 12px;
}

.CommentsForm-text {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0 5px;
  resize: none;
  font-size: 14px;
}

.CommentsForm-controls button {
  margin: 0 10px 0 0;
}

.CommentsForm-error {
  padding: 10px 0;
  font-size: 12px;
  color: red;
}
