.CommentsForm {
  padding-top: 16px;
}

.CommentsForm-title {
  padding-bottom: 16px;
}

.CommentsForm-text {
  resize: none;
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  min-height: 88px;
  border-color: var(--filter-border);
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  font-family: var(--font-family);
  color: var(--main-text);
  margin-bottom: 16px;
}

.CommentsForm-text:focus {
  outline: none;
}