.CommentForm {
  padding: 30px 0;
}

.CommentForm-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.CommentForm-form {
  display: flex;
  flex-direction: column;
}

.CommentForm-textarea {
  padding: 3px 4px;
  margin: 10px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
}

.CommentForm-button {
  align-self: start;
}