.CommentForm {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

  .CommentForm-label{
    font-size: 12px;
    font-weight: 700;
  }

  .CommentForm-textarea {
    box-sizing: border-box;
    margin: 10px 0;
    min-height: 80px;
    outline: none;
    resize: none;
    font-size: 14px;
    line-height: 16px;
    padding: 4px 5px;
    border-color: #666666;
    box-shadow: 0px 1px 4px 0px #6666661A inset;
  }

  .CommentForm-textarea::placeholder {
    color: #000;
  }

  .CommentForm-btn {
    box-sizing: border-box;
    padding: 1px 9px;
    margin-right: 10px;
  }