.CommentForm {
  padding: 10px 40px 30px 40px;
}

.CommentForm_theme_embed {
  padding: 30px 30px 10px 30px;
}

.CommentForm h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}

.CommentForm textarea {
  width: 100%;
  margin-block: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.CommentForm-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CommentForm-invite {
  font-size: 16;
}

.CommentForm-anchor {
  text-decoration: underline;
}

.CommentForm-cancel {
  color: #666;
  text-decoration: underline;
}