.CommentTool {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 30px 0 0 0;
}

.CommentTool-padding-top_medium {
  padding: 30px 0 0 0;
}

.CommentTool-link {
  color: #0087e9;
}

.CommentTool-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  padding: 0;
  margin: 0 0 10px 0;
}

.CommentTool-textarea {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  width: 100%;
  min-height: 76px;
  padding: 0;
  margin: 0 0 10px 0;
  resize: none;
}

.CommentTool-textarea::placeholder {
  color: #000000;
  padding: 4px 0 0 5px;
}

.CommentTool-controls {
  display: flex;
  gap: 10px;
}

.CommentTool-button {
  width: max-content;
  cursor: pointer;
}