.Product-page p {
  margin: 0;
}
.Product-page {
  padding: 41px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  font-size: 18px;
}
.Product-page-madeIn,
.Product-page-category,
.Product-page-edition,
.Product-page-price {
  font-weight: 700;
}
.Product-page-price {
  font-size: 24px;
}
.Product-page-action {
  padding: 3px 8px 2px 9px;
}

.Product-page-loader-inner {
  text-align: center;
  color: green;
  animation: loader-inner 1s infinite;
}

@keyframes loader-inner {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
