.Comment {
    
}

.Comment-top {
    display: flex;
}

.Comment-profile, .Comment-profile-login {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.Comment-profile-login {
    color: #666666;
}

.Comment-date {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-left: 10px;
}

.Comment-text {
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0;
    word-break: break-word;
}

.Comment-answer {
    font-size: 12px;
    line-height: 14px;
    color: #0087E9;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}