.SideLayout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}

.SideLayout_side_start {
  justify-content: flex-start;
}

.SideLayout_side_end {
  justify-content: flex-end;
}

.SideLayout_side_between {
  justify-content: space-between;
}

.SideLayout_padding_small {
  padding: 10px;
}

.SideLayout_padding_medium {
  padding: 15px;
}

.SideLayout_border_standart {
  border: solid 1px #DCDCDC;
}

.SideLayout_border_bottom {
  border-bottom: solid 1px #DCDCDC;
}

.SideLayout_border_top {
  border-top: solid 1px #DCDCDC;
}

.SideLayout_border_right {
  border-right: solid 1px #DCDCDC;
}

.SideLayout_border_left {
  border-left: solid 1px #DCDCDC;
}

.SideLayout-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 5px;
}
