.SideLayout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
  align-items: center;
}

.SideLayout_side_start {
  justify-content: flex-start;
}

.SideLayout_side_end {
  justify-content: flex-end;
}

.SideLayout_side_between {
  justify-content: space-between;
}

.SideLayout_padding_small {
  padding: 10px 20px;
}

.SideLayout_padding_medium {
  padding: 20px;
}

.SideLayout_border_top {
  border-top: #dcdcdc 1px solid;
}

.SideLayout_border_bottom {
  border-bottom: #dcdcdc 1px solid;
}

.SideLayout-item {
  margin: 0;
}
