.Details {
  padding: 0 20px;
  border-top: 1px dashed #ccc;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.Details-madein_weight_bold,
.Details-category_weight_bold,
.Details-edition_weight_bold {
  font-weight: 700;
  padding-left: 10px;
}

.Details-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
