.AuthMessage {
  padding: 0 40px 92px;
}

.AuthMessage-card {
  padding-top: 30px;
}

.AuthMessage-btn-2 {
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #0087E9;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0087E9;
  cursor: pointer;
}

.AuthMessage-span {
  font-size: 16px;
  line-height: 18px;
}

.AuthMessage-btn-3 {
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #666;
  background: transparent;
  border: none;
  border-bottom: 1px solid #666;
  cursor: pointer;
}