.AuthCard {
   padding: 20px;
   box-sizing: border-box;
}

.AuthCard-inputName {
   margin-top: 19px;
}

.AuthCard-signInButton {
   margin-top: 20px;
}
.AuthCard-signInButton:disabled {
   opacity: .5;
}

.AuthCard-serverErr {
   margin-top: 20px;
   color: #FF0000;
}

.AuthCard-validErr {
   color: #FF0000;
}