.Pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Pagination ul{
  display: flex;
  align-content: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.Pagination-page{
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  user-select: none;
}

.Pagination-page.ellipsis {
  color: #CCCCCC;
  cursor: default;
}

.Pagination-page.selected {
  color: #FFFFFF;
  background: #0087E9;
}

.Pagination-page:hover:not(.selected, .ellipsis) {
  color: black;
  background: #E1E1E1;
}
