.Pagination {
  display: flex;
  justify-content: end;
  padding: 20px;
  font-size: 16px;
}

.Pagination-item {
  display: flex;
  min-width: 20px;
}

.Pagination-link {
  display: flex;
  height: 20px;
  padding: 0 3px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Pagination-link.active {
  background-color: #0087E9;
}

.Pagination-link:hover:not(.active) {
  background-color: #E1E1E1;
}

.Pagination-gap {
  text-align: center;
}