.Order {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  border-bottom: 1px dashed #ccc;
}

.Order-code {
  padding: 20px 10px 20px 20px;
}

.Order-title {
  width: 100%;
  padding: 20px 10px;
}

.Order-actions  {
  padding: 20px 20px 20px 10px;
}

.Order-actions button {
  cursor: pointer;
}

.Order-price {
  margin-right: 24px;
  width: 100%;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}

.Order-count {
  display: flex;
  justify-content: flex-end;
  padding-left: 60px;
}