.ModalOverlay {
  position: relative;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  overflow: hidden;
  z-index: 3;
}
