.LoginCard {
  padding: 20px 40px;
}

.LoginCard-title {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  margin-bottom: 17px;
}

.LoginCard-input {
  margin-bottom: 20px;
  margin-top: 1px;
  border: 1px solid #767676;
  width: 203px;
  height: 26px;
  box-sizing: border-box;
}

.LoginCard-button {
  display: block
}

.LoginCard-error {
  margin-bottom: 20px;
  color: #FF0000;
}
