.CartModal-footer {
    text-align: right;
    gap: 53px;
    margin-top: 20px;
    padding-bottom: 89px;
}

.CartModal-footer span {
    font-size: 18px;
    font-weight: 700;
    flex-shrink: 0;
}

.CartModal-total {
    margin-right: 45px;
}

.CartModal-price {
    margin-right: 120px;
}
