.Cart__Wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  max-height: calc(100vh - 40px);
  padding-bottom: 70px;

}


.Cart__Sum {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  gap: 4px;
  margin-left: auto;
  margin-right: 120px;
  font-weight: 700;
  gap: 53px;
}

@media (max-width: 425px) {
  .Cart__Sum {
    padding-left: 10px;
  }
}

.Cart__Content_WhenEmpty {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
}