.Cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 71px;
  margin-bottom: 71px;
}

.Cart-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 53px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 120px 20px;
}