.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
  overflow: hidden;
}

.overlayVisible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

.Cart-drawer {
  width: 960px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 0;
}

.Cart-button {
  padding: 20px 20px 20px 10px;
}

.Cart-wrapper-title {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  margin-bottom: 65px;
}

.Cart-total_price {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-weight: 700;
  padding: 20px 0 40px 0;
  padding-right: 106px;
}
