.Pagination {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.Pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.Pagination button[disabled] {
  background: #eee;
  cursor: default;
}
