.CommentReminder {
  padding: 0 40px 100px;
}

.CommentReminder-link {
  color: #0087E9;

  text-decoration: none;

  border-bottom: 1px solid #0087E9;

  cursor: pointer;
}

.CommentReminder-cancel {
  color: #666;

  border-bottom: 1px solid #666;

  cursor: pointer;
}