.total {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 700;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 89px;
}

.total span {
    margin-left: 53px;
}