.CommentReply {
  display: flex;
  flex-direction: column;
  row-gap: 10px;  
  margin-bottom: 10px;
}

.CommentReply-title {
  font-weight: 700;
  font-size: 12px;
  margin: 0;  
}

.CommentReply-text {
  font-size: 14px;
  width: 100%;
  min-height: 76px;
  resize: none
}

.CommentReply-wrapper {
  display: flex;  
  column-gap: 10px;
}

.CommentReply-wrapper button {
  font-size: 13px;
  width: max-content;  
  cursor: pointer;
}
