.ProfileInfo{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ProfileInfo-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0px;
}
.ProfileInfo-item{
    display: flex;
    gap: 5px
}
.ProfileInfo-item p:nth-child(2){
    font-weight: 700;
}