.Item-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.Item-info-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.Item-info button {
  align-self: flex-start;
}
