.ItemDescription {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
}

.ItemDescription-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}

.ItemDescription-title-block {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}

.ItemDescription-span__bold {
  font-weight: bold;
}

.ItemDescription-price {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
}
