.Input {
  font-size: 16px;
  padding: 2px;
  border: 1px solid #767676;
  border-radius: 1px;
  box-sizing: border-box;
}

.Input_theme_big {
  width: 308px;
}

.Input_theme_middle {
  width: 203px;
}

.Input-label {
  display: block;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 1px;
}
