.Modal__Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  transition: background-color 1s;
  padding: 16px;
}

.Modal__Item_selected {
  background-color: var(--primary-select);
}

.Modal__Item-title {
  flex: auto;
}

.Modal__Item-actions {
  display: flex;
  justify-content: flex-end;
}

.Modal__Item-actions button {
  background-color: var(--delete);
  color: var(--second-text);
  padding: 8px 16px;
  transition: 0s;

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);    
  
  }
}

.Modal__Item-prise{
  display: flex;
  justify-content: space-between;
  width: 234px;
}