.Login-profile-link {
  font-size: 13px;
  color: #0087E9;
  margin-right: 20px;
}

.Login-btn {
  background-color: buttonface;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
  border: 1px solid #767676;
  padding: 2px 5px;
  border-radius: 2px;
  color: black;
}

.Login-btn:hover {
  background-color: rgb(225, 225, 225);
}
