.Login-profile-link {
  font-size: 13px;
  color: #0087E9;
  margin-right: 20px;
  border-bottom: 1px solid #0087E9;
  text-decoration: none;
}

.Login-btn--login {
  background-color: buttonface;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
  border: 1px solid #767676;
  padding: 2px 8px;
  border-radius: 2px;
  color: black;
}

.Login-btn--login:hover {
  background-color: rgb(225, 225, 225);
}

.Login-btn--logout {
  padding-left: 8px;
  padding-right: 8px;
}