.Row td:first-child {
  padding-left: 16px;
}

.Row td:last-child {
  padding-inline: 12px 0;
}

.Row:nth-child(odd) {
  background-color: var(--odd-item);
}

.Row-title {
  width: 100%;
}

.Row-count, .Row-price {
  min-width: 105px;
  max-width:100%;
  white-space:nowrap;
}

.Row-price {
  text-align: end;
}

.Row button {
  background-color: var(--delete);
  color: var(--second-text);
  padding: 8px 16px;

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}