.Row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 19px;
}

.Row a {
  color: #0087e9;
}

.Row a:visited {
  color: #0087e9;
}
