.ItemPage-tools {
  position: relative;
}

.ItemPage-link {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 18px;
  color: #0087E9;
}

.ItemPage-body {
  padding: 20px;

  font-size: 18px;
}

.ItemPage-made,
.ItemPage-cat,
.ItemPage-year,
.ItemPage-price {
  margin-top: 20px;
}

.ItemPage-price {
  font-weight: 700;
  font-size: 24px;
}

.ItemPage-btn {
  margin-top: 20px;
}