.Item {
  display: flex;
  justify-content: space-between;
  transition: background-color 1s;
  padding-left: 10px
}

.Item-code, .Item-title, .Item-price, .Item-quantity, .Item-actions {
  display: inline-block;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  padding: 20px 10px;
}
.Item-price {
  padding: 20px 62px;
}
.Item-quantity {
  padding: 20px 24px 20px 0;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px
}

.Item-price {
  padding: 0 0 0 10px;
  white-space: nowrap;
  font-size: 18px;
}
