.CartButton {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
}

.CartButton-container button {
  border: 1px solid var(--primary);
  background-color: var(--background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
