.ItemCart {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ItemCart-code {
  padding: 20px 10px 20px 20px;
}

.ItemCart-title {
  width: 100%;
  padding: 20px 10px;
}
.ItemCart-price{
  padding: 20px 0;
}
.ItemCart-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 0px;
}
.ItemCart-count{
  text-align: end;
  padding: 20px 24px 20px 62px;
}

