.ItemCart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  transition: background-color 1s;
  padding: 16px;
}

.ItemCart-title {
  flex: auto;
}

.ItemCart-count {
  width: 105px;
}

.ItemCart-price {
  width: 105px;
  display: flex;
  justify-content: flex-end;
}

.ItemCart-actions {
  display: flex;
  justify-content: flex-end;
}

.ItemCart-actions button {
  background-color: var(--delete);
  color: var(--second-text);
  padding: 8px 16px;

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}
