.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 24px;
}
.LoginForm-title {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: var(--main-text);
}

.LoginForm-prop-wrapper {
  max-width: 233px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.LoginForm-prop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.LoginForm-error {
  color: var(--delete);
  font-size: 12px;
}
