.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 16px;
  transition: background-color 1s;
  /* padding: 16px; */
  margin-top: 24px;
}

.LoginForm-title {
  font-weight: bold;
  font-size: 32px;
}

.LoginForm-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 1px;
  border-radius: 4px;
}

.LoginForm-inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LoginForm-inputs input {
  width: 233px;
  height: 40px;
  border: solid 1px rgb(0, 0, 0);
}

.LoginForm-error {
  margin-top: 16px;
  font-size: 12px;
  color: var(--delete);
}
