.LoginForm {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

  .LoginForm-title {
    margin: 0 0 18px;
  }

  .LoginForm-form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

    .LoginForm-input {
      box-sizing: border-box;
      width: 204px;
      height: 26px;
      margin-bottom: 20px;
      font-size: 16px;
    }

    .LoginForm-error {
      box-sizing: border-box;
      margin-bottom: 20px;
      color: red;
    }