.PaginationSwitcher {
  flex: 0 0 auto;
  position: relative;
  width: 200px;

  &:hover>.PaginationSwitcher-wrapper{
    opacity: 1;
    top: -30px;
  }

  &>.PaginationSwitcher-wrapper {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: all 0.2s ease;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.PaginationSwitcher-input {
  width: 100%;

}