.navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  max-width: 100px;
}

.mainLink {
  margin-right: auto;
  align-self: center;
  color: #0087e9;
  text-decoration: underline;
}
