.Button-add {
  background-color: var(--primary);
  color: var(--second-text);
  padding: 8px 16px;

  &:hover {
    background-color: var(--background);
    border-color: var(--primary);
    color: var(--primary);
  }
}

.Button-remove {
  background-color: var(--delete);
  color: var(--second-text);
  padding: 8px 16px;

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}