.PageItem {
  min-width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.PageItem a {
  color: inherit;
  text-decoration: inherit;
  width: 100%;
  text-align: center;
}

.Active,
.PageItem.Active:hover {
  background-color: #0087e9;
  color: #ffffff;
}

.PageItem:hover {
  background: #e1e1e1;
}
