.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--primary-text);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
