.Login-Page {
  margin-left: 20px;
}

.Login-Title{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;
}

.Login-Page label{
  margin-bottom: 0;
}

#Input-Login,
#Input-Password {
  display: block;
  margin: 1px 0 19px 0;
}

.Login-Error{
  margin-bottom: 19px;
  color:red;
}