.LoginPage {
  padding-top: 46px;
  padding-left: 20px;
}

.LoginPage-form {
  display: grid;
  width: 203px;
}

.LoginPage-label {
  font-size: 16px;
}

.LoginPage-input {
  margin-top: 1px;
  margin-bottom: 19px;
}

.LoginPage-button {
  width: 53px;
  height: 21px;
  background: #EFEFEF;
  border: 1px solid #767676;
  border-radius: 2px;
  margin-top: 1px;
}

.LoginPage-error-message {
  color: #FF0000;
  margin-bottom: 19px;
}