.Menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.Menu-link-container {
  width: 50%
}

.BasketTool-container * {
  padding: 0px;
}

.Menu-link {
  color: #0087E9;
  text-decoration: none;
}

.BasketTool button {
  padding: 1px 6px;
}

.Menu-link:hover {
  text-decoration: underline;
}