.ItemId {
  padding-left: 16px;
}

.ItemId-description {
    line-height: 22px;
     margin-bottom: 12px;
}

.ItemId-info {
  display: flex;
   gap: 12px;
   line-height: 22px;
}

.ItemId p {
margin: 12px 0;
}

.ItemId-left {
  width: 185px;
}

.ItemId-right {
  font-weight: 700;
}

.ItemId-price {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.ItemId-price p {
  margin-bottom: 24px;
}
