.login-menu{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.login-btn{
    width: 45px;
    /* justify-self: flex-end; */
    margin: 10px 20px;
}

.exit-wrapper{
    align-self: flex-end;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}