.login-btn{
    width: 45px;
    align-self: flex-end;
    margin: 10px 20px;
}

.exit-wrapper{
    align-self: flex-end;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}