body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}
.PageLayout-shopping-cart {
  min-height: 407px;
  max-height: 700px;
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
