.PageLayout {
  max-width: 1192px;
  margin: 0 auto;
  background-color: var(--background);
  padding-inline: 20px;
}

.PageLayout-center {
  padding-block: 0;
}

.cart-button-container{
  justify-content: end;
}

.cart-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 10px 0 10px 0;

  .cart-info{
    margin: 0 0 0 10px;
  }

   .cart-button{
     padding: 5px;
    display: flex;
    border: 1px solid var(--primary);
  }

}
