
* {
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #535353;
}

body.Modal-open {
  overflow: hidden;
}

button {
  height: 21px;
}

.ShopLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
  overflow: auto;
}