.Form {
  padding: 20px;
  margin: 0;
}

.Form-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 20px 0;
}

.Form-legend {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.Form-error {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #FF0000;
  padding-bottom: 20px;
  margin: 0;
}