.Field-tetxaria {
  /* margin-top: 30px; */
}

.Field-tetxaria-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Field-tetxaria-form-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.Field-tetxaria-form-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 5px;
  height: 80px;
  color: #000000;
  resize: none;
}
.Field-tetxaria-form-actions {
  display: flex;
  gap: 10px;
}

.Field-tetxaria-panel {
  display: flex;
}

.Field-tetxaria-panel-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  cursor: pointer;
}

.Field-tetxaria-panel-link_color_grey {
  color: rgba(102, 102, 102, 1);
}

.Field-tetxaria-panel-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

