.ArticlesNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin: 0 0 0 auto;
  width: fit-content;
}

.ArticlesNav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.ArticlesNav-text{
  margin: 0;
  text-decoration: none;
  color: #000;
}

.ArticlesNav-item_current{
  background-color: #0087E9;
}

.ArticlesNav-item_current > .ArticlesNav-text {
  color: #fff;
}

.ArticlesNav-dots{
  color: #CCC;
}