.CartContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CartContent-header {
  font-size: 32px;
  margin: 0;
  margin-bottom: 24px;
}

.CartContent-header_title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  font-family: var(--font-family);
}

.CartContent-header_button {
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 0;
  cursor: pointer;
}

.CartContent-info {
  text-align: center;
  padding: 20px;
  color: var(--main-text);
  font-size: 16px;
} 