.CartContent {
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--main-text);

  display: flex;
  align-items: center;
  gap: 8px;
}

.CartContent-text__container {
  display: flex;

}
