.ProfileBar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.ProfileBar-username {
  color: #0087E9;
  text-align: center;
  text-decoration: underline;
  margin: 0 15px;
}

.ProfileBar-button {
  width: 75px;
  height: 21px;
  margin: 0 15px;
}