.List {
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.List-item:nth-child(odd) {
  background-color: var(--odd-item);
}

.List-item {
  border-bottom: 1px solid var(--divider);
}
