.List {

}

.List-item {
  border-bottom: 1px dashed #ccc;
}

.List-item:first-child {
  border-top: 1px dashed #ccc;
}

.List-item_theme_comments {
  border: none;
  margin-bottom: 30px;
}

.List-item_theme_comments-left{
  padding-left: 30px;
  margin: 30px 0;
}
