.List {
  border-bottom: 1px dashed #ccc;
}

.List-item {
  border-top: 1px dashed #ccc;
}

.Modal-window .List {
  padding-top: 71px;

  border-bottom: 1px dashed #ccc;
}

.Modal-window .List-item {
  height: 63px;
  padding: 0 20px;
}
