article {
  padding: 20px 40px;
  font-size: 18px;
}

article > * {
  margin: 0px;
}

article > *:not(:last-child) {
  margin-bottom: 20px;
}

p > span {
  font-weight: bold;
}

.Product-price {
  font-size: 24px;
  font-weight: bold;
}
