.ProfileForm {
  padding: 21px 20px 20px 20px;
}

.ProfileForm h2{
  margin-bottom: 30px;
}

.ProfileForm-title {
  margin: 0;
}

.ProfileForm-line {
  margin: 20px 0;
  display: flex;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.ProfileForm-field {
  padding-right: 5px;
}

.ProfileForm-bold {
  font-weight: bold;
}