.Modal {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  width: 720px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  z-index: 10;
}

.Modal-content {
  padding: 24px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.Modal-icon {
  margin: 0;
  padding: 0;
  position: absolute;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
}
