.LoginForm {
  display: flex;
  flex-direction: column;
  width: 233px;
}

.LoginForm-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.LoginForm-error {
  color: var(--delete);
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
}
