.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 1080px;
}
.modal-close{
  cursor: pointer;
  font-size: 25px;
  color: #878787;
  width: 32px;

}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}
.Modal-actions {
  display: flex;
  align-items: center;
}

.Modal-actions button {
  min-width: 105px;
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: var(--btn-text-color);
  background-color: #D43B3B;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 0;
}

.modal-footer div {
  font-family: "Segoe UI", Arial, sans-serif;
  width: 25%;
  display: flex;
  justify-content: center;
}
