.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 1080px;
}
.modal-close{
  cursor: pointer;
  width: 32px;
  height: 32px;

}
.modal-header {
  display: flex;
  justify-content: flex-end;
}

.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}
.Modal-actions {
  display: flex;
  align-items: center;
}

.Modal-actions button {
  min-width: 105px;
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: var(--btn-text-color);
  background-color: #D43B3B;
}
