.PaginationControl {
  display: flex;
  gap: 2px;
}

.PaginationControl-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
  height: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.PaginationControl-page.active {
  background-color: var(--primary);
  border-radius: 2px;
  color: var(--second-text);
}
