.Input-auth{
  width: 203px;
  border: 1px solid #767676;
  border-radius: 1px;
  height: 26px;
  box-sizing: border-box;
}

.Input-label{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: 400;
}