.Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1152px;
  padding: 16px 0;
  margin: 0 auto;
}
.AuthSlot {
  display: flex;
  gap: 24px;
}

.AuthSlot a {
  font-size: 14px;
  font-weight: 700;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 0;
}
.Sign-in a {
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  color: var(--main-text);
}

.AuthSlot button {
  font-size: 14px;
  font-weight: 700;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 0;
}
