.PageButton {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PageButton:hover {
  cursor: pointer;
  background: #e1e1e1;
}

.PageButton_selected {
  background: #0087e9;
  color: white;
}

.PageButton_selected:hover {
  background: #0087E9;
  color: white;
}
