.CommentTextarea {
  display: flex;
  flex-direction: column;
  padding: 0 40px 30px;
  height: 131px;
  row-gap: 10px;
  & button {
    width: 90px;
  }
}

.CommentTextarea-textarea {
  height: 100%;
  resize: none;

  padding: 10px 5px;

  color: #000000;
}

.CommentTextarea-buttonsbox {
  display: flex;
  gap: 10px;
}
