.ArticleCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 24px;
}

.ArticleCard-prop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ArticleCard-prop {
  display: flex;
  gap: 10px;
}

.ArticleCard-prop_size_big {
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: bold;
}

.ArticleCard-label {
  width: 200px;
}

.ArticleCard-value {
  font-weight: bold;
}

.ArticleCard-prop_size_big .ArticleCard-label {
  width: fit-content;
}
