.ArticleCard {
  padding: 20px 40px;
}

.ArticleCard-description {
  font-size: 18px;
  margin: 20px 0;
}

.ArticleCard-prop {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  font-size: 18px
}

.ArticleCard-prop_size_big {
  font-size: 24px;
  font-weight: bold;
}

.ArticleCard-label {
  padding-right: 10px;
}

.ArticleCard-value {
  font-weight: bold;
}

.ArticleCard-comments-block{
  margin-top: 40px;
}

.ArticleCard-comments-block h4{
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 27.6px;
}
.ArticleCard-comments-block p{
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
}
.ArticleCard-comments-block p>a{
  color: #0087E9;
}
