.ArticleCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 24px;
}

.ArticleCard-title {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: var(--main-text);
  margin: 0 0 24px 0;
}

.ArticleCard-prop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ArticleCard-prop {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.ArticleCard-prop_size_big {
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: bold;
}

.ArticleCard-label {
  width: 73px;
  text-align: left;
}

.ArticleCard-label:has(+ .ArticleCard-value[data-field="name"]) {
  min-width: 64px;
}

.ArticleCard-label:has(+ .ArticleCard-value[data-field="email"]) {
  min-width: 64px;
}

.ArticleCard-value {
  font-weight: bold;
  flex: 1;
}

.ArticleCard-prop_size_big .ArticleCard-label {
  width: fit-content;
}
