.Item-basket {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-basket-code {
  padding: 20px 10px 20px 20px;
}

.Item-basket-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-basket-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-basket-price{
	display: flex;
	align-items: center;
	column-gap: 60px;
	padding: 0px 10px;
  color: rgb(64, 64, 64);
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
}
.Item-basket-price span{
	display: flex;
	white-space: nowrap;
}