.LoginBtn {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.LoginBtn-link {
    cursor: pointer;
	background: #efefef;
	border: 1px solid #767676;
	border-radius: 2px;
	padding: 1px 7px;
	color: #000;
	text-decoration: none;
	font-weight: 400;
	font-size: 13px;
	text-align: center;
}