.Header {
  background-color: var(--second-background);
  color: var(--primary);
}

.Header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  padding: 8px 16px;
  gap: 24px;
}