.CommentArea-top {
	margin: 0;
	font-weight: 700;
  font-size: 12px;
}

.CommentArea-textarea {
	width: 100%;
  height: 76px;
  margin: 12px 0;
  resize: none;
  border: 1px solid #666;
  box-shadow: inset 0 1px 4px 0 rgba(102, 102, 102, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}