.Login-form {
  padding-left: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Login-title {
  padding: 0;
  margin: 0;
}

.Login-label {
  margin-top: 15px;
  font-size: 12px;
}

.Login-input {
  
}

.Login-button {
  margin-top: 15px;
}

.Login-error {
  margin: 10px 0;
  color: red;
  font-size: 12px;
}