.darkBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.ModalPageLayout {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 960px;
  min-height: 0;
  background: #fff;
  border-radius: 10px 10px 10px 10px;
}

.ModalPageLayout-Total {
  display: flex;
  justify-content: flex-end;
  column-gap: 53px;
  font-weight: bold;
  padding: 20px 120px 89px 10px;
}