.FormComment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormComment-label {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12;
}

.FormComment-textarea {
  width: 100%;
  height: 74px;
  overflow-y: auto;
  margin: 10px 0;
  padding: 0;
}

.FormComment-form-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.FormComment-button {

}