.UserInfo{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 24px;
}

.UserInfo-title {
  font-family: var(--second-font-family);
  font-size: 32px;
  line-height: 40px;
}

.UserInfo-prop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.UserInfo-prop {
  display: flex;
  gap: 8px;
  line-height: 22px;
}

.UserInfo-label {
  min-width: 64px;

}

.UserInfo-value {
  font-weight: bold;
}
