.LoginForm {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.LoginForm-form {
  width: 203px;
  display: flex;
  flex-direction: column;
}

.LoginForm-error {
  margin-top: 0;
  color: red;
}

.LoginForm-button {
  width: 53px;
}
