.LoginForm {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.LoginForm-form {
  width: 203px;
  display: flex;
  flex-direction: column;
}

.LoginForm-error {
  margin-top: 0;
  color: red;
}

.LoginForm-input {
  width: 203px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #767676;
  border-radius: 1px;
}

.LoginForm-input::placeholder {
  color: white;
  background-image: url('../../image/imgInput.png');
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.LoginForm-button {
  width: 53px;
}
