.Select {
  border: 1px solid var(--filter-border);
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--background);
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 16px;
  height: 40px;
  color: var(--main-text);
}

.Select:focus-visible {
  outline: none;
  border-color: var(--filter-border);
}

/* для выпадающего списка */
.Select option {
  color: var(--main-text);
  background-color: var(--background);
  padding: 8px 12px;
}

/* Выбранный пункт */
.Select option:checked {
  color: #6b4acb; 
  background-color: var(--background);
}

.Select option:hover {
  background: #1e90ff !important;
  color: #fff !important; 
}

.Select_size_small {
  min-width: 130px;
}

.Select_size_medium {
  min-width: 233px;
}

.Select_text {
  border: none;
}
