.CommentsCard {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 24px;
}

.CommentsCard-description {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.CommentsCard-login {
  display: flex;
  align-items: center;
}

