.CommentsList {
  padding-top: 16px;
}

.CommentsList-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--second-font-family);
  padding-bottom: 8px;
}

.CommentsList-comments-container {
  padding-top: 16px;
}

.CommentsList-comments-container-name {
  display: flex;
  flex-direction: row;
}

.CommentsList-name {
  padding-right: 12px;
  font-weight: 700;
}

.CommentsList-date {
  color: #666666;
}

.CommentsList-text {
  padding-top: 6px;
}

.CommentsList-link {
  padding-top: 16px;
}

.CommentsList-link a {
  color: var(--primary);
}