.Comment {
  padding: 15px 0px;
}

.Comment-head {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.Comment-author {
  font-weight: 700;
}

.current-user {
  color: #666666;
}

.Comment-dateTime {
  color: #666666;
}

.Comment-body {
  font-size: 14px;
  padding: 10px 0px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.Comment-footer{
  width: fit-content;
  display: flex;
  color: #0087E9;
  cursor: pointer;
}