.Comment-info {
	display: flex;
	justify-content: flex-start;
	font-size: 12px;
	margin-bottom: 10px;
}

.Comment-user {
  font-weight: 700;
  margin-right: 10px;
}

.Comment-current-user {
	color: #666;
	font-weight: 700;
  margin-right: 10px;
}

.Comment-date {
  color: #666;
}

.Comment-text {
  font-size: 14px;
  margin-bottom: 10px;
	overflow-wrap: break-word;
}

.Comment-reply {
  font-size: 12px;
  color: #0087e9;
}

.Comment-reply:hover {
  cursor: pointer;
}