.Comment {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
}

.Comment-offset-0 {
  margin-left: 0;
}

.Comment-offset-1 {
  margin-left: 30px;
}

.Comment-offset-2 {
  margin-left: 60px;
}

.Comment-offset-3 {
  margin-left: 90px;
}

.Comment-heading {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.Comment-username {
  font-weight: 700;
  font-size: 12px;
}

.Comment-date {
  color: #666;
  font-size: 12px;
}

.Comment-text {
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: 14px;
}

.Comment-reply-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #0087e9;
  cursor: pointer;
  font-size: 12px;
}