.Summary {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 21px;
}

.Summary-content {
  padding: 20px 10px;
}

.Summary-actions {
  display: flex;
  justify-content: flex-end;
  width: 80px;
  padding: 20px 20px 20px 10px;
}
