.Head {
  color: var(--primary);
  padding: 0 0 16px;
  border-bottom: 1px solid var(--divider);
}

.Head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  padding: 15px 0 0;
}

.Head h1 {
  margin: 0;
}
