.Head {
  display: flex;
  align-items: center;
  height: 80px;
  background: #f5f5f5;
}

.Head h1 {
  margin: 0;
  padding: 20px 20px 10px;
  width: 100%;
}

.Head-actions {
  display: flex;
  justify-content: flex-end;
}
