.Head, .Head-modal {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Head, .Head-modal h1 {
  margin: 0;
  padding: 0 20px;
}

.Head-modal {
  margin-bottom: 71px;
  border-radius: 10px 10px 0 0;
}

.Head-modal-btn-close {
  width: 76px;
  margin-right: 20px;
}