.Head {
  width: 100%;
  margin: 0;
  padding: 16px 160px;
  color: var(--primary);
  border-bottom: 1px solid var(--divider);
  display: flex;
}

.Head-title {
  margin: 0;
  padding: 0;
  font-family: 'Golos Text';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
