  .backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
  }

  .LayoutTop {
    display: flex;
    justify-content: flex-start;
    background: #f5f5f5;
    height: 4cm;
  }

  .Close {
    width: 78%;
    display: flex;
    justify-content: flex-end;
    padding: 30px 30px;
  }

  .Button-shop {
    width: 78px;
    height: 22px;
  }

  .modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  
    .modal {
      width: 860px;
      max-width: 860px;
      min-height: 400px;
      z-index: 1040;
      margin: 0 auto;
      background-color: white;
      border: 3px solid white;
      
      height: auto;
      border-radius: 10px;
    }
  }
  
  .modalContainer.show {
    visibility: visible;
    opacity: 1;
  
    .modal {
      transform: translateY(0);
    }
  }