.Basket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -5;
  transition: opacity .6s ease;
}

.Basket.active {
  transition: opacity .6s ease;
  position: fixed;
  opacity: 1;
  z-index: 3;
}

.Basket::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
}

.Basket-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 960px;
  height: 407px;
  z-index: 5;
  background-color: #FFF;
}

.Basket .List {
  padding: 71px 0 0;
  overflow-y: auto;
}

.Basket .List-item:nth-of-type(1) {
  border-top: 1px dashed #ccc;
}

.Basket-info {
  font-size: 30px;
  text-align: center;
  padding-top: 125px;
}