.ArticleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin: 0 16px;
}

.ArticleContent p, .ArticleContent span {
  margin: 0;
}

.ArticleContent-text__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ArticleContent-row {
  display: flex;
  align-items: center;
}

.ArticleContent-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--main-text);
  margin: 12px 0;
  width: 200px;
  text-align: left;
  flex-shrink: 0;
}

.ArticleContent-text__bold {
  font-weight: 700;
}

.ArticleContent-basketTotal {
  font-family: var(--second-font-family), sans-serif;
  font-size: 24px;
  line-height: 133%;
}

