.ModalCart {
  overflow: hidden;
}

.ModalCart-space {
  padding: 35px 0;
  border-bottom: 1px dashed #ccc;
}

.ModalCart-footer {
  box-sizing: border-box;
  /* margin-right: 145px; */
  /* padding: 16px 0; */
  display: flex;
  align-content: center;
  justify-content: end;
}

.ModalCart-bold_span {
  margin: 0;
  padding: 0;
  width: 120px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ModalCart-bold_span.price {
  /* margin-left: 25px; */
}

.ModalCart-footer_empty {
  width: 127px;
}
