.Form-layout {
    width: 203px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.Form-layout input[type='submit'] {
    align-self: flex-start;
    min-width: 53px;
    padding: 3px 3px 2px 3px;
    margin-top: 20px;
}

.Form-layout label:nth-child(2) {
    margin-top: 17px;
}

.Form-layout label {
    margin-top: 19px;
}

.Form-layout h3 {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}