.form-layout {
    padding-top: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-title {
    margin-bottom: 24px;
}

.form-layout button {
    margin-top: 22px;
}