.Form {
    margin: 20px;
}
.Form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.Form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 203px;
    gap: 1px;
    margin-bottom: 20px;
}
.Form-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.Form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    border: 1px solid #767676;
}
.Form-err {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ff0000;
    margin-bottom: 20px;
}
