.Comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.Comment-container {
  display: flex;
}

.Comment-username {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Comment-date {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}

.Comment-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    word-break: break-all;
}

.Comment-reply {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #0087E9;
}