.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  transition: background-color 1s;
  padding: 16px;
}

.Item-info {
  display: flex;
  flex: auto;
}

.Item-name {
  margin-right: auto;
}

.Item-price {
  display: flex;
  justify-content: flex-end;
  width: 220px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
}

.Item-actions button {
  color: var(--second-text);
  padding: 8px 16px;
  &:hover {
    background-color: var(--background);
  }
}

.Item-add button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  &:hover {
    color: var(--primary);
  }
}
.Item-delete button {
  background-color: var(--delete);
  border: 1px solid var(--delete);
  &:hover {
    color: var(--delete);
  }
}
