.Item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px dashed #ccc;
}

.Item:first-child {
  border-top: 1px dashed #ccc;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  padding: 20px 10px 20px 20px;
}

.Item-quantity {
  padding: 20px 10px 20px 20px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
