.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-decoration: none;
  color: inherit;
  transition: background-color 1s;
}

.Item:hover {
  background-color: var(--primary-select);
}
.Item-title:hover {
  color: var(--primary);
}
.Item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex: auto;
}

.Item-actions button {
  background-color: var(--primary);
  color: var(--second-text);

  &:hover {
    background-color: var(--background);
  }
}
