.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  transition: background-color 1s;
  padding: 16px;
}

.Item_selected {
  background-color: var(--primary-select);
}

.Item-title {
  flex: auto;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
}

.Item-price {
  display: flex;
  justify-content: flex-end;
  color: var(--main-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 105px;
}
.Item-quantity {
  width: 105px;
  margin-right: 5px;
}
