.Item {
    display: flex;
    align-items: center;
    transition: background-color 1s;

}

.Item_selected {
    background: #75aaf1;
    color: #fff;
}

.Item-code {
    padding: 20px 10px;
}

.Item-title {
    flex-grow: 1;
    padding: 20px 10px;
    font-size: 16px;
}

.Item-price {
    padding: 20px 10px;
}

.Item-count {
    margin-left: 62px;
    padding: 20px 10px;
    width: 60px;
    text-align: center;
   
}

.Item-actions {
    padding: 20px 20px 20px 10px;
}
.button{
    width: 76px;
    height: 21px;
}