.Item {
  display: flex;
  justify-content: flex-start;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  padding: 20px 10px;
  white-space: nowrap;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-count {
  padding: 20px 10px;
  white-space: nowrap;
}
