.Item-info {
  display: flex;
}

.Item-info-count {
  padding-right: 7px;
}

.Item-info-price {
  padding-right: 59px;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-info-price,
.Item-price {
  font-size: 18px;
  line-height: 20.7px;
}
