.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-price{
	display: flex;
	align-items: center;
	column-gap: 60px;
	padding: 0px 10px;
}
.Item-price span{
	display: flex;
	white-space: nowrap;
}