.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
.Item-price {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  min-width: 80px;
}
.Item-total {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
