.footer-bottom {
    display: flex;
    justify-content: flex-end;
    padding: 25px 120px 5px 0;
    font-size: 18px;
}

.footer-total {
    font-weight: 600;
    margin-right: 50px;
}

.footer-totalPrice {
    font-weight: 600;
} 