.Item {
  vertical-align: middle;
  border-top: 1px dashed #ccc;
}
  
.Item:last-child {
  border-bottom: 1px dashed #ccc;
}

.Item-code {
  padding: 20px 10px 20px 20px;
  font-size: 16px;
  font-weight: 400;
}

.Item-title {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.Item-price, .Item-count {
  padding: 20px 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
}
