.Description-container {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.Description-container-title-item,
.Description-container-text-item {
  margin: 0 8px 14px 0;
}

.Description-container-text-item {
  font-weight: 700;
}

.Description-container-price {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 0 24px 0;
}