/* Контрол с общими действиями */
.BasketTool{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label{

}

.BasketTool-total{
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-go {
  width: 80px;
  height: 21px;
  border: 1px solid #767676;
  border-radius: 2px;
  cursor: pointer;
}