.ProductDetails {
  font-size: 18px;
  line-height: 111%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ProductDetails-description {
  max-width: 943px;
  margin-bottom: 0;
}

.ProductDetails-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.ProductDetails-cart-action {
  max-width: 76px;
}