.Product {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Product-code {
  padding: 20px 10px 20px 20px;
}

.Product-title {
  width: 100%;
  padding: 20px 10px;
}

.Product-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Product-price {
  padding: 20px 10px 20px 20px;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #404040;
}

.Product-count {
  padding-left: 52px;
  padding-right: 24px;
  white-space: nowrap;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #404040;
}