.Articles-info p {
  margin: 0;
}
.Articles-info {
  padding: 41px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  font-size: 18px;
}
.Articles-info-madeIn,
.Articles-info-category,
.Articles-info-edition,
.Articles-info-price {
  font-weight: 700;
}
.Articles-info-price {
  font-size: 24px;
}
.Articles-info-action {
  padding: 3px 8px 2px 9px;
}
