.CommentItem {
  margin-bottom: 16px;
}
.CommentItem-info {
  display: flex;
  gap: 12px;
  margin-bottom: 6px;
}
.CommentItem-user {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.CommentItem-description {
  margin-bottom: 6px;
}
.CommentItem-date {
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.CommentItem-button {
  padding: 0;
  color: rgb(107, 74, 203);
  font-size: 12px;
}

.CommentItem-user_authorized {
  color: rgba(75, 85, 99, 1);
}
