.CommentItem {
  margin-bottom: 30px;
}

.CommentItem-info {
  margin-bottom: 10px;

  font-size: 12px;
  /* Сделал шрифт крупнее на время разработки */
  /* font-size:  16px */
}

.CommentItem-user {
  margin-right: 10px;
  font-weight: 700;
}

.CommentItem-user_self {
  color: #666666;
}

.CommentItem-created {
  color: #666666;
}

.CommentItem-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  /* Сделал шрифт крупнее на время разработки */
  /* font-size:  18px; */
  word-wrap: break-word;
}

.CommentItem-answer {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;

  font-size: 12px;
  /* Сделал шрифт крупнее на время разработки */
  /* font-size:  16px; */
  background-color: transparent;
  color: #0087E9;
  cursor: pointer;
}
