.Reply-login button {
    background: none;
    border: none;
    color: #0087E9;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.Reply-head {
    font-size: 14px;
    font-weight: 700;
}

.Reply-form textarea {
    resize: none;
    width: 100%;
}

.Reply-buttons button {
    margin-right: 10px;
}