.User-portal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(220, 220, 220);
  background: rgb(255, 255, 255);
}
