.PaginationPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  min-width: 18px;
  padding: 1px;
  cursor: pointer;
}

.PaginationPage:not(.PaginationPage_active):hover {
  background-color: #E1E1E1;
}

.PaginationPage_active {
  background-color: #0087E9;
  color: #FFFFFF;
  pointer-events: none;
}

.PaginationPage_disabled:not(.PaginationPage_active) {
  pointer-events: none;
  color: #CCCCCC;
}