.Controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 0 24px 0;
}

.Controls button {
  border: 1px solid var(--primary);
  padding: 8px 16px;
  background-color: transparent;
  color: var(--main-text);
  display: flex;
  align-items: center;
  gap: 8px;
}
