.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-value {
  font-weight: 600;
}

.Controls-showCart {
  padding: 2px 16px;
  margin-left: 1.1rem;
}

.Controls-cart-text {
  margin-right: 0.75rem;
}