.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-info {
  display: flex;
  margin-right: 20px;
}

.Controls-info > :last-child {
  margin-left: 12px;
  font-weight: 700;
}
