.Controls {
  display: flex;
  min-width: 980px;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
.Controls-content {
  display: flex;
  align-items: center;
  min-width: 170px;
  height: 20px;
  justify-content: space-between;
}
.Controls-content p {
  padding-right: 10px;
  padding-left: 20px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 51px;
  height: 21px;
}
.Controls-button {
  width: 80px;
  height: 20px;
  padding-right: 10px;
}
