.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-title-basket {
  width: 180%;
  padding: 20px 10px;
}

.Item-price-basket {
  width: 20%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
}

.Item-q-product {
  width: 20%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
}