/* Пункт списка */
.ItemBasket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  padding: 16px 16px 15px 16px
}

.ItemBasket-title:hover {
  cursor: pointer;
  transition: .3s;
  color: var(--primary);
}

.ItemBasket-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: auto;
  gap: 24px;
}

.ItemBasket-cell {
  min-width: 105px;
  text-align: right;
  white-space: nowrap;
}

.ItemBasket-cell button {
  background-color: var(--delete);
  color: var(--second-text);

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}