/* Пункт списка */
.ItemBasket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  padding: 16px

}

.ItemBasket-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  text-decoration: none;
  color: var(--main-text);
  &:hover {
    color: var(--primary);
  }}

.ItemBasket-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: auto;
  gap: 24px;
}

.ItemBasket-cell {
  min-width: 105px;
  text-align: right;
  white-space: nowrap;
}

.ItemBasket-cell button {
  background-color: var(--delete);
  color: var(--second-text);

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}
