.Modal {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 960px;
    height: 470px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
}
  
.Modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px;
    background: #f5f5f5;
    border-radius: 10px 10px 0 0;
}

.Modal-body {
    padding: 10px 20px;
}

.Modal-item {
    border-bottom: 1px dashed #ccc;
}

.Item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

.Item-number {
    padding: 5px 10px;
}

.Item-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 10px;
}