.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  max-width: 960px;
  width: 100%;
  z-index: 2;
  background: white;
  border-radius: 5px;
  transition: 0.3s;
}

.Modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000070;
  z-index: 1;
  display: none;
}

.Modal-overlay.active {
  display: block;
}

.Modal-head {
  height: 80px;
  background: #f5f5f5;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
}

.Modal-head h1 {
  margin: 0;

}