.Modal {
  width: 1080px;
  padding: 24px 24px 40px;
  background-color: var(--background);
  border-radius: 8px;
  position: relative;
  top: -3%;
  left: -1%;
}

.Modal-button {
  position: absolute;
  top: 0px;
  right: -8px;
}

.Modal-button svg {
  transition: fill 0.3s;
  &:hover {
    fill: var(--primary);
  }
}
