.Modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 70%); 
}  
  
  .Modal_active {
    display: flex;
  }  
  
    .Modal-wrapper {
      background-color: white;
      width: 960px;
      min-height: 408px;
      max-height: 96%;
      margin: 0 auto;
      align-self: center;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 50%);
      display: flex;
      flex-direction: column;
      overflow-y: auto; 
    }   
  
      .Modal-content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        position: relative;
        min-height: 408px;
      }

        .Modal-actions {
          position: absolute;
          top: 32px;
          right: 32px;
        }