.Modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
}

.Modal-wrapper,
.Modal-wrapper-closed {
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	padding: 32px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	box-sizing: border-box;
}

.Modal-wrapper {
	display: flex;
}

.Modal-wrapper-closed {
	display: none;
}