.Modal{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
  z-index: 1;
}
.Modal__content{
	position: absolute;
	max-width: 960px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	background: rgb(255, 255, 255);
  z-index: 4;
}

.Modal__header {
  height: 80px;
	background: rgb(245, 245, 245);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 40px 0px 20px;
	border-radius: 10px;
}
