.Modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.Modal-window {
  width: 960px;
  min-height: 318px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;

  padding-bottom: 89px;
}

.Modal-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #f5f5f5;

  padding: 20px 32px 23px 20px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Modal-title {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  margin: 0;
}
