.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    max-height: 90vh;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }