.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Modal-container {
  position: relative;
  background: #fff;
  width: 720px;
  min-height: 200px;
  border: 1px solid black;
  box-shadow: 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: auto;
  z-index: 10;
}

.Modal-heading {
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px 20px 20px;
}

.Modal-title {
  margin: 0;
}

.Modal-close-button {
  width: 76px;
  height: 21px;
}