.MenuSite {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  font-size: 18px;
  height: 41px;
  border-bottom: 1px solid gray;
}

.MenuSite-item {
  font-size: 18px;
  padding: 10px 20px 20px 20px;
}

.MenuSite-link {
  font-size: 14px;
}