.Add-button {
  background-color: var(--primary);
  color: var(--second-text);

  &:hover {
    background-color: var(--background);
    border-color: var(--primary);
    color: var(--primary);
  }
}
