.ModalFooterItem{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    transition: background-color 1s;
    padding: 16px;
    padding-bottom: 0px;
    font-size: 16px;
  }
  

  .ModalFooterItem-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .ModalFooterItem-colloum {
    width: 70px; 
    margin-right: 100px;
    text-align: right;
    }
    
  .ModalFooterItem-price {
    width: 120px; 
    text-align: right;
    padding-right: 10px ;
    }

  .ModalFooterItem-actions button {
    background-color: var(--background);
    color: #fff;
    padding: 8px 16px;
    cursor: default;
    &:hover {
      background-color: var(--background);
      border-color: var(--background);
      color: var(--background);
        cursor: default;

    }
  }
  
  