/* Итого в корзине */
.BasketTotal {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  gap: 24px;
}

.BasketTotal-cell {
  min-width: 105px;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}

.Cart-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.Cart-empty img{
  width: 100px;
}