.Comments {
  margin-top: 40px;
}

.Comments h2 {
  padding: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--second-font-family);
}

.CommentsList {
  border-radius: 10px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.CommentsList-thread {
  margin-bottom: 16px;
}

.CommentsList-item {
  position: relative;
}

.CommentsList-reply-form,
.CommentsList-login-prompt {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-right: 40px;
  box-sizing: border-box;
}
