.Item {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
  }
  
.Item-code {
    padding: 20px 10px 20px 20px;
}
  
.Item-title {
    width: 100%;
    padding: 20px 10px;
  }
  
.Item-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 10px;
  }
  
.Item-price, .Item-count{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: flex-end;
}

.List-item {
  border-bottom: 1px dashed #ccc;
}