.Item {
  display: flex;
  justify-content: space-between;
  transition: background-color 1s;
}

.Item-part {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.Item-part-left {
  gap: 24px;
  font-size: 16px;
}

.Item-part-right {
  gap: 24px;
  font-size: 18px;
}

.Item-count {
  margin-left: 38px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
}

.Item-actions button {
  font-size: 13px;
}
