.ProductItem {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ProductItem-code {
  padding: 20px 10px 20px 20px;
}

.ProductItem-title {
  width: 100%;
  padding: 20px 10px;
}

.ProductItem-amount {
  padding: 20px 14px 20px 10px;
  white-space: nowrap;
}

.ProductItem-price {
  padding: 20px 14px 20px 10px;
  white-space: nowrap;
}

.ProductItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
