.Vidget {
  min-width: 150px;
  min-height: 22px;
  line-height: 22px;
}

.Vidget-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-right: 20px;
}

.Vidget-inform {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding-left: 15px;
}
