.CartStatus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.CartStatus-data {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}





