.Header {
  display: flex;
  justify-content: end;

  padding: 10px 20px;
  border-bottom: 1px solid #DCDCDC;
}

.Header-wrapper {
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.Header-button-entrance {
  font-size: 14px;
  background: #EFEFEF;
  border: 1px solid #767676;
  border-radius: 2px;
  padding: 0 7px;
  text-decoration: none;
  color: #000000;
}
