.AddComment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;

}

.AddComment-label {
  font-size: 12px;
  font-weight: 700;
}

.AddComment-textarea {
  min-height: 76px;
  resize: none;
  font-size: 14px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.AddComment-buttons {
  display: flex;
  gap: 10px
}

.AddComment-btn {
  max-width: fit-content;
}

.AddComment-no-auth {
  display: flex;
  font-size: 16px;
}

.AddComment-no-auth-text {
  margin: 0;
}

.AddComment-no-auth-btn {
  font-size: 16px;
  max-width: fit-content;
  text-decoration: underline;
  border: none;
  background: transparent;
  padding: 0;
  color: #666666;
  cursor: pointer;
}

.AddComment-no-auth-btn-link {
  font-size: 16px;
  max-width: fit-content;
  text-decoration: underline;
  border: none;
  background: transparent;
  padding: 0;
  color: #0087E9;
  cursor: pointer;
}