.CartItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  transition: background-color 1s;
  padding: 16px;
}

.CartItem-title {
  flex: auto;
}

.CartItem-info {
  display: flex;
  justify-content: flex-end;
  width: 234px;
}

.CartItem-price {
  flex: auto;
  text-align: end;
}

.CartItem-actions {
  display: flex;
  justify-content: flex-end;
}

.CartItem-button-delete{
  background-color: var(--delete);
  color: var(--second-text);

  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}