.CartItem {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 105px 105px auto;
  align-items: center;
  gap: 24px;
  transition: background-color 1s;
  padding: 16px;
  padding-bottom: 15px;
}

.CartItem-title {
  font-weight: 700;
}

.CartItem-price {
  text-align: right;
}

.CartItem-actions {
  display: flex;
  justify-content: flex-end;
}
