.UserPanel {
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #DCDCDC;
  gap: 15px;
}

.UserPanel-name a {
  width: 53px;
  height: 15px;
  color: #0087E9;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  align-self: center;
}

.UserPanel-button a {
  width: max-content;
  min-width: 59px;
  height: 21px;
}
