.ItemMain {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ItemMain_hidden {
  display: none;
}

.ItemMain-code, .ItemMain-count, .ItemMain-price {
  padding: 20px 10px 20px 20px;
}

.ItemMain-title {
  width: 100%;
  padding: 20px 10px;
}

.ItemMain-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
