p{
    margin: 0;
}
button{
    width: 76px;
    height: 21px;
}
.ProductPage{
    background-color: white;
    min-height: 100vh;
}
.ProductPage-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 43px;
}
.ProductPage-controls p{
    color: #0087E9;
}
.ProductPage-info{
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.PructPage-price{
    font-size: 24px;
    font-weight: 700;
}