.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
  margin: 25vh auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}