.Checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  padding: 20px 21px 21px 17px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.Checkout-elem {
  display: flex;
  justify-content: space-between;
}

.Checkout-elem__code {
  padding-right: 21px;
}

.Checkout-elem__price {
  margin-right: 62px;
  font-size: 18px;
  line-height: 21px;
  color: #404040;
}

.Checkout-elem__quantity {
  margin-right: 24px;
  font-size: 18px;
  line-height: 21px;
  color: #404040;
}

.Checkout-elem button {
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  width: 76px;
}