.pagination__list {
  display: flex;
  gap: 2px;
}

.pagination__button {
  min-width: 22px;     
  height: 22px;        
  padding: 0 6px;    
  border: none;
  border-radius: 2px;

  display: inline-flex;    
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;

  white-space: nowrap;
}

.pagination__button:not(.pagination__button--active):hover{
  background-color: var(--primary-select);
}

.pagination__button--active {
  background-color: var(--primary);
  color: var(--second-text);
}