.BasketItem {
  display: flex;
  justify-content: flex-start;
}

.BasketItem-code {
  padding: 20px 10px 20px 20px;
}

.BasketItem-title {
  width: 100%;
  padding: 20px 10px;
}

.BasketItem-price {
  padding: 20px 10px;
  white-space: nowrap;
}

.BasketItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.BasketItem-count {
  padding: 20px 10px;
  white-space: nowrap;
}

.BasketItem-button {
  width: 76px;
  height: 21px;
}
