.Show-Write-Panel {
    color: #0087E9;
    margin-bottom: 30px;
    cursor: pointer;
}

.Write-Panel {
    margin-bottom: 30px;
    overflow: hidden;
    display: block;
}

.Write-Panel button {
    margin-right: 10px;
}


.Write-Panel-Header {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
}

.Write-Panel-Textarea {
    border: solid 1px #666666;
    width: 914px;
    min-height: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: start;
    margin-right: 10px;
    resize:vertical;
}
#textareanull {
    width: 944px;
    margin-bottom: 10px;
}
.Write-Panel-Cancel {
    text-decoration: underline;
    display: inline;
    color: rgb(102, 102, 102);
}

.Write-Panel-Login {
    color: #0087E9;
}

.Write-Panel-Cancel,
.Write-Panel-Login {
    cursor: pointer;
    display: inline;
}