.Controls-Basket {
  display: flex;
  justify-content: flex-end;
  padding: 20px 21px 89px 0;
}

.Controls-Basket-price {
  width: 24%;
  display: flex;
}

.Controls-Basket-price b:first-child {
    margin-right: 53px;
  }
 
  @media screen and (max-width: 1100px) {
    .Controls-Basket-price {
      width: auto;
    }
  }  
