.ProductCart {
  p {
    margin: 0;
    margin-bottom: 20px;
  }

  padding: 40px;
  padding-top: 20px;
}

.ProductCart p:last-child {
  margin-bottom: 0;
}

.ProductCart-price {
  font-weight: 700;
  font-size: 24px;
}
