.CommentItem {
}

.CommentItem-title {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.CommentItem-title span{
  color: rgb(102, 102, 102);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.CommentItem-content {
  font-size: 14px;
}

.CommentItem-content p {
  margin: 10px 0;
}

.CommentItem-link {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: rgb(0, 135, 233);
  font-size: 12px;
  cursor: pointer;
}

.CommentItem-reply {
  margin-top: 30px;
}

.CommentItem-reply__btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.CommentItem-block {
  margin-bottom: 30px;
}

.CommentItem-link__cancel {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: gray;
  font-size: 16px;
  cursor: pointer;
}