.LoginDetail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: -5px;
}