.Product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1115px;
  gap: 24px;
  padding: 0 20px;
}

.Product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Product-back {
  padding-left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: var(--main-text);
}

.Product-description,
.Product-field,
.Product-price {
  width: 100%;
  font-size: 16px;
  margin: 0;
}

.Product-price {
  font-weight: 700;
  font-size: 24px;
}

.Product-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: var(--primary);
}
.Product-info {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 8px;
}

.Product-row {
  display: flex;
  align-items: baseline;
}

.Product-label {
  width: 185px;
  font-size: 16px;
  font-weight: 400
}

.Product-value {
  font-weight: 700;
  font-size: 16px;
  padding-left: 8px;
}

