.market-info {
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 1px dashed #ccc;
}

.market-info span {
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}