.AuthInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--overlay);
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.AuthInput:focus {
  outline: none;
  border-color: var(--primary);
}