.AuthPage {
	padding: 20px 0;
}

.AuthPage-title {
	margin-bottom: 17px;
	font-weight: 700;
	font-size: 24px;
}

.AuthPage-item {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.AuthPage-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.AuthPage-input {
	width: 203px;
	height: 21px;
}

.AuthPage-button {
	align-self: start;
}

.AuthPage-error {
	color: #FF0000;
}