.ItemInCart {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ItemInCart_selected {
  background: #75aaf1;
  color: #fff;
}

.ItemInCart-code {
  padding: 20px 10px 20px 20px;
}

.ItemInCart-title {
  flex-grow: 1;
  padding: 20px 10px;
}

.ItemInCart-price {
  padding: 20px 48px 20px 0;
}

.ItemInCart-count {
  padding: 20px 14px;
}

.ItemInCart-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
