.Footer {
  display: flex;
  justify-content: flex-start;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.Footer-name {
  padding: 20px 0px 90px 690px;
}

.Footer-price {
  padding: 20px 0px 90px 52px;
}
