.HeadAuthContainer{
  display: flex;
  justify-content: end;
  padding: 10px 20px;
}

.HeadAuthContainer > a {
  margin-right: 20px;
  color: #0087E9;

}

.HeadAuthContainer > a:visited {
  color: #0087E9;
}