.AuthorizationForm {
  max-width: 203px;
  padding: 40px 20px;
}

.AuthorizationForm-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.AuthorizationForm-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}