.CartInfo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 20px;
}

.CartInfo-title {
  margin-right: 11px;
}

.CartInfo-content {
  font-weight: bold;
  display: flex;
  margin-left: 4px;
}
