.ItemShop {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ItemShop_selected {
  background: #75aaf1;
  color: #fff;
}

.ItemShop-code {
  padding: 20px 10px 20px 20px;
}

.ItemShop-title {
  width: 100%;
  padding: 20px 10px;
}

.ItemShop-price {
  text-align: center;
  padding: 20px 0px;
  white-space: nowrap;
}

.ItemShop-amount {
  text-align: center;
  padding: 20px 0px 20px 62px;
  white-space: nowrap;
}

.ItemShop-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 21px 20px 24px;
}
