.CartBottomPanel {
  width: 100%;
  align-items: center;
  gap: 24px;
  display: grid;
  padding: 16px;
  grid-template-columns: auto repeat(3, minmax(105px, max-content));
  grid-template-areas:
    ". title price .";
}

.CartBottomPanel-title { grid-area: title; }
.CartBottomPanel-price { grid-area: price; text-align: right; }
