.Comments {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  overflow: auto;
}

.Comments-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Comments-title {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 25px;
}