.CommentsLayout {
  padding: 30px 40px 0;
}
.CommentsLayout-title {
  font-weight: 400;

  margin: 0 0 25px;
}
.CommentsLayout-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
