.pagination-page {
  display: inline-flex;
  justify-content: flex-end;
  margin: 0;
  width: auto;
  height: 22px;
  margin-left: auto;
}

.pagination-page__numbers {
  display: flex;
  gap: 2px;
  align-items: center;
}

.pagination-page__number {
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}

.pagination-page__number:hover {
  background-color: rgba(107, 74, 203, 0.1);
}

.pagination-page__number.active {
  width: 22px;
  height: 22px;
  background: #6B4ACB;
  color: white;
  border: none;
  border-radius: 2px;
}

.pagination-page__ellipsis {
  width: 22px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #1A2028;
}
