.Pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}

.Pagination__item_active {
  background: #0087E9;
}

.Pagination__item_active {
  color: #fff;
}

.Pagination__item_active:hover {
  background: #0087E9;
}

.Pagination__dots {
  color: #CCCCCC;
}

.Pagination__dots:hover {
  cursor: not-allowed;
}