.CommentInput{
  padding: 15px 0px;
}

.CommentInput-head{
  font-size: 12px;
  font-weight: 700;
}

.CommentInput-body{
  padding: 10px 0px;
}

.CommentInput-body-input{
  width: 100%;
  height: 76px;
  resize: none;
  scroll-behavior: auto;
  font-size: 14px;
  font-family: Arial;
}

.CommentInput-redirect {
  padding: 15px 0px;
  display: flex;
  font-size: 16px;
}

.CommentInput-redirect-cancel {
  color: #666666;
  cursor: pointer;
}

.CommentInput-actions{
  gap: 10px;
}