.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.link:hover {
  text-decoration: underline;
}

.navigation-link {
  display: inline-flex;
  align-items: center;
}
