.HeaderLink_style_primary {
  color: var(--primary);
  font-family: var(--second-font-family);
  cursor: pointer;
  font-weight: 700;
  &:hover {
    color: var(--main-text);
  }
}

.HeaderLink_style_main {
  color: var(--main-text);
  font-family: var(--second-font-family);
  cursor: pointer;
  font-weight: 700;
  &:hover {
    color: var(--primary);
  }
}


