.ReplyForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.ReplyForm-title {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.ReplyForm-textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 5px;
  height: 80px;
  resize: none;
  margin: 10px 0;
  font-size: 14px;
}

.ReplyForm-submit {
  width: 90px;
  margin-right: 10px;
}
