.Modal__result {
  color: var(--main-text);
}

.Modal__result-container {
  max-width: 235px;
  margin: 16px auto;
  margin-right: 139px;
  display: flex;
  justify-content: space-between;
}

.Modal__result h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
