.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  transition: background-color 1s;
  padding: 16px;
}

.Item_selected {
  background-color: var(--primary-select);
}

.Item-title {
  flex: auto;
}

.Item-info {
  width: 23%;
  display: flex;
  justify-content: space-between;
}

.Item-info__price {
  margin-left: auto;
}

.Item-actions__button {
  padding: 8px 16px;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.Item-actions__button--delete {
  background-color: var(--delete);
  color: var(--second-text);
  &:hover {
    background-color: var(--background);
    border-color: var(--delete);
    color: var(--delete);
  }
}
