.CommentCard {
    
}

.CommentCard-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
}

.CommentCard-username {
    font-weight: 700;
}

.CommentCard-username__auth {
    color: #4B5563;
    font-weight: 700;
}

.CommentCard-date {
    color: var(--date-text);
}

.CommentCard-comment {
    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.CommentCard-answer {
    font-size: 12px;
    line-height: 18px;
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 6px;
    cursor: pointer;
}

.CommentCard-replies {
    margin-left: 40px;
    margin-bottom: 16px;
}

.CommentCard-authcaution {
    margin: 24px 0 24px 0;
}
