.Breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}

.Breadcrumbs-separator {
  margin: 0 5px;
  color: var(--close);
}

.Breadcrumbs-link {
  color: var(--primary);
  text-decoration: none;
}

.Breadcrumbs-link:hover {
  text-decoration: underline;
}

.Breadcrumbs-current {
  color: var(--close);
}