.FormInput {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: 'Golos Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  input {
    width: 100%;
    border: 1px solid var(--filter-border);
    border-radius: 4px;
    padding: 8px 12px;
    font-family: Golos Text;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: var(--close);
    }
  }
}
