.CartList {
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.CartList-item:nth-child(odd) {
  background-color: var(--odd-item);
}

.CartList-item {
  border-bottom: 1px solid var(--divider);
}

.CartList-total {
  height: 54px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding: 16px;
}

.CartList-total span {
  width: 105px;

  &:nth-child(2) {
    text-align: end;
    margin-right: 129px;
  }
}