.Head-login {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #DCDCDC;
}

.Head-login div {
    display: flex;
}

.Head-login button {
    margin-left: 20px;
}