.BasketTotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: pre;
  text-align: end;
  font-size: 18;
  font-weight: 700;
}

.BasketTotal-text {
  padding: 20px 0;
}

.BasketTotal-text_empty {
  padding: 100px 0;
  margin: auto;
}

.BasketTotal-value {
  min-width: 95px;
  padding: 20px 105px 20px 10px;
}