
.Cart-details-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 130px;
  font-weight: 700;
}

.Cart-details-total-sum{
  width: 100px;
  margin-left: 10px;
  text-align: end;
}