.Page-item {
  margin: 20px 40px;
}

.Page-item-country {
  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.Page-item-description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.Page-item-price {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.Page-item-button {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
