.UserCard {
    padding: 20px 40px;
}
/* 
.UserCard-description {
    font-size: 18px;
    margin: 20px 0;
} */

.UserCard-prop {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    font-size: 18px
}

.UserCard-prop_size_big {
    font-size: 24px;
    font-weight: bold;
}

.UserCard-label {
    padding-right: 10px;
}

.UserCard-value {
    font-weight: bold;
}
