body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: 'Golos Text', sans-serif;
}

.App {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;

  button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 9px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.App-head {
  height: 72px;
  border-bottom: #efefef 1px solid;
}

.App-head h1 {
  margin: 0;
  padding: 16px 0;
  color: #6b4acb;
}

.App-controls {
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  margin: 24px 0;

  button {
    background-color: #6b4acb;
    margin-right: 16px;
  }
}

.App-head,
.App-controls,
.App-center {
  padding: 0 144px 0 144px;
}

.List {
  .List-item:nth-of-type(2n) {
    background-color: #fff;
  }
}

.List-item {
  min-height: 71px;
  background-color: rgba(107, 74, 203, 0.0314);
  border-bottom: #efefef 1px solid;
}

.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: rgba(107, 74, 203, 0.1);
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
  font-weight: bold;

  .Item-counter {
    font-weight: normal;
  }
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  button {
    background-color: #d43b3b;
  }
}
