@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: "Golos Text", sans-serif;
}

.App {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

.App-head {
  width: 70vw;
  height: 40px;
  padding: 16px 144px;
  margin: 0 auto 24px;
  border-bottom: 1px solid #EFEFEF;
}

.App-head h1 {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #6B4ACB;
}

.App-controls {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  margin: 0 auto 24px;
}

.App-controls button, .Item-actions button {
  height: 40px;
  padding: 9px 16px;
  margin: 0;
  border: none;
  border-radius: 4px;
  background: #6B4ACB;

  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

.App-controls button {
  margin-right: 16px;
}

.List-item {
  width: 70vw;
  margin: 0 auto;
  border-bottom: 1px solid #EFEFEF;
  background: rgba(107, 74, 203, 0.03);
}

.List-item:nth-child(odd) {
  background: none;
}

.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  transition: background-color 1s;
}

.Item_selected {
  background: rgba(107, 74, 203, 0.1);
}

.Item-code {
  font-size: 16px;
  padding-right: 16px;
  height: fit-content;
}

.Item-title {
  width: 100%;
  height: fit-content;
  font-size: 16px;
  font-weight: 700 ;
}

.span-count {
  font-weight: 400;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
}

.Item-actions button {
  background: #D43B3B;
}
