@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --primary: #6b4acb;
  --primary-select: #6b4acb1a;
  --main-text: #1a2028;
  --second-text: #ffffff;
  --overlay: #1a202866;
  --divider: #efefef;
  --delete: #d43b3b;
  --odd-item: #6b4acb08;
  --close: #878787;

  --font-family: 'Golos Text';
  --second-font-family: 'Montserrat Alternates';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  font-family: var(--second-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  transition: 0.3s;
  border: 1px solid transparent;
  background-color: transparent;
}

h1,
h4 {
  margin: 0;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
