@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

:root {
  --background: #FFFFFF;
  --primary: #6B4ACB;
  --primary-select: rgba(107, 74, 203, 0.5);
  --main-text: #1A2028;
  --second-text: #FFFFFF;
  --overlay: #1A202866;
  --divider: #EFEFEF;
  --delete: #D43B3B;
  --delete-select: rgba(212, 59, 59, 0.5);
  --odd-item: #6B4ACB08;
  --grey-hard: #878787;

  --font-family: 'Golos Text';
  --second-font-family: 'Montserrat Alternates';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  overflow-x: hidden;
}

button {
  font-family: var(--second-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  transition: 0.3s;
  border: 1px solid transparent;
  background-color: transparent;
}

h1, h4 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
