.CommentBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.CommentBox-text {
  margin: 0;
}

.CommentBox-textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

.CommentBox-box {
  display: flex;
  gap: 10px;
}
