.Auth {
  height: 41px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}

.Auth-link {
  color: #0087e9;
  font-size: 13px;
  line-height: 14.95px;
}

.Auth-btn {
  margin-left: 20px;
}
