.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 0.3s;
  z-index: 100;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
.modal-content {
  border-radius: 10px;
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 960px;
  background-color: #ffffff;
}