.ItemCart {
  display: flex;
  justify-content: flex-start;
}

.ItemCart-code {
  padding: 20px 10px 20px 20px;
}

.ItemCart-title {
  margin-right: auto;
  padding: 20px 10px;
}

.ItemCart-price,
.ItemCart-count {
  padding: 20px 10px;
  color: #404040
}

.ItemCart-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
