.CartCount {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.CartCount_variant {
  justify-content: flex-end;
  padding-right: 109px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.CartCount-count {
  font-weight: bold;
}