.Cart-Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  transition: background-color 1s;
  padding: 16px;
}

.Cart-Item-title {
  flex: auto;
  display: flex;
  justify-content: space-between;
}

.Cart-Item-title-right {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.Cart-Item-actions {
  display: flex;
  justify-content: flex-end;
}
