.CartItem {
	display: flex;
	align-items: center;

	padding: 20px 21px 20px 18px;
	border-top: 1px dashed #CCCCCC;
}

.CartItem:last-of-type {
	border-bottom: 1px dashed #CCCCCC;
}

.CartItem-number {
	margin-right: 22px;
}

.CartItem-title {
	flex-grow: 2;
	margin: 0;
}

.CartItem-price {
	margin-right: 62px;
}

.CartItem-count {
	margin-right: 24px;
}