
.Nav {
  display: flex;
  padding: 20px;
  font-size: 18px;
  gap: 20px;
}

.Nav button {
  width: fit-content;
}

.Nav-main-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #0087E9;
}
