.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    color: var(--main-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
