/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content:flex-start;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {

}

.BasketTool-link {
  flex: 1;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
