/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {

}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-btn {
  padding: 1px 12px;
}
