/* Контрол с общими действиями */
.BasketTool {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-group {
  display: flex; 
  align-items: center;
}

.BasketTool-link {     
  color: #0087e9;
  font-weight: 400;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
