/* Контрол с общими действиями */
.BasketTool{
  display: flex;
  padding: 20px 0;
  font-size: 18px;
  white-space: nowrap;  
}

.BasketTool-total{
  font-weight: bold;
  margin: 0 20px;
}