/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}
.BasketTool-link{
  color: rgb(0, 135, 233);
  font-size: 18px;
  margin-right: auto;
}
.BasketTool-label {

}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
