.Modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.Modal-dialog {
  position: relative;
  max-width: 100%;
  margin:auto;
  width: 1080px;
}

.Modal-content {
  background: var(--background);
  padding: 24px;
}


