.ModalLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
}

.ModalLayout-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 960px;
  padding-bottom: 89px;
  background-color: #FFFFFF;
}

.ModalLayout-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 32px 23px 20px;
  background-color: #F5F5F5;
}

.ModalLayout-title {
  font-size: 32px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.ModalLayout-button {
  box-sizing: border-box;
  border: 1px solid #767676;
  border-radius: 2px;
  padding: 3px 8px 2px 9px;
  background-color: #EFEFEF;
  cursor: pointer;
}

.ModalLayout-button:hover {
  background-color: #E5E2E2;
}

.ModalLayout-button:active {
  background-color: inherit;
}

.ModalLayout-list {
  padding: 0;
  margin: 71px 0 0 0;
}