.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgb(0, 0, 0,0.5);
}



.Modal-content{
  border-radius: 8px;
  padding: 2px;
  background: white;
  min-width: 1080px;
  padding-bottom: 25px;
}

.Modal.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

