.UserMenu {
  padding: 10px 20px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: right;
  column-gap: 20px;
  align-items: center;
}

.UserMenu-name {
  font-size: 13px;
  font-weight: 400;
}