.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #efefef;
}

.cart__item:nth-child(odd) {
  background-color: var(--odd-item);
}


.cart__item-name {
  font-weight: 700;
}

.cart__item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 363px;
}

.cart__item-count,
.cart__item-price,
.cart__item-delete {
  width: 105px;
}

.cart__item-count {
  text-align: left;
}

.cart__item-price {
  text-align: right;
}

.cart__item-delete {
  color: var(--second-text);
  background-color: var(--delete);
}
