.Item {
  padding: 20px;
  display: flex;
  column-gap: 20px ;
  align-items: center;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-title {
  width: 100%;
}

.Item-actions {
  justify-content: flex-end;
 }

.Item-quantity {
  padding-left: 40px;
}