.Auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  column-gap: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.Auth a{
  color: rgb(0, 135, 233);
}