.AuthBar-account {
  width: 1440;
  height: 38;
  gap: 8px;
  border-bottom-width: 1px;
  padding-top: 8px;
  padding-right: 144px;
  padding-bottom: 8px;
  padding-left: 144px;

  border-bottom: 1px solid #efefef;
  background: #efefef;
}

.AuthBar-account-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  gap: 24px;
}
.AuthBar-account-container-link {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #6b4acb;
}

.AuthBar-account-name {
  font-family: 'Golos Text';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}
