.FormReply {
  display: flex;
  flex-direction: column;
}

.FormReply-list-element {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.FormReply-offset-0 {
  margin-left: 0;
}

.FormReply-offset-1 {
  margin-left: 30px;
}

.FormReply-offset-2 {
  margin-left: 60px;
}

.FormReply-offset-3 {
  margin-left: 90px;
}

.FormReply-label {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
}

.FormReply-textarea {
  width: 100%;
  height: 74px;
  overflow-y: auto;
  margin: 10px 0;
  padding: 0;
}

.FormReply-form-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.FormReply-button {
  
}