.CommentLogin {
  margin-top: 24px;
  margin-bottom: 24px;
}
.CommentLogin-link {
  margin: 0;
  padding: 0;
  font-family: var(--main-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--primary);
}
