.ReplyArea {
   margin-bottom: 30px;
}

.ReplyArea-title {
   font-size: 12px;
   font-weight: 700;
   margin: 0;
   margin-bottom: 10px;
}

.ReplyArea-area {
   box-sizing: border-box;
   padding: 4px 5px;
   width: 100%;
   height: 80px;
   resize: none;
   font-family: 'Arial';
   font-size: 14px;
   border: 1px solid #666666;
   outline: none;
   margin-bottom: 10px;
}

.ReplyArea-area::placeholder {
   color: #000;
}

.ReplyArea-replyButton {
   margin-right: 10px;
}

.ReplyArea-cancelButton {
   padding: 0;
   background-color: #FFF;
   border: none;
   color: #666666;
   text-decoration: underline;
   margin-left: 5px;
   font-size: 16px;
   cursor: pointer;
}

.ReplyAreaMessage-link {
   display: inline;
   color: #0087E9;
   cursor: pointer;
}